<h3>User Project Roles</h3>

<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th>User</th>
    <th>E-Mail</th>
    <th>Project</th>
    <th>Role</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @user_project_roles.each do |user_project_role| %>
    <tr>
      <td><%= user_project_role.user.name %></td>
      <td><%= user_project_role.user.email %></td>
      <td><%= user_project_role.project.name %></td>
      <td><%= user_project_role.role_text %></td>
      <td><%= link_to 'Show', user_project_role %> |
        <%= link_to 'Edit', edit_user_project_role_path(user_project_role) %> |
        <%= link_to 'Destroy', user_project_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Project Role', new_user_project_role_path %>
