<%= turbo_frame_tag dom_id(comment) do %>
  <div id="<%= dom_id comment %>">
  <p class="p-0 text-muted">
    Created: <%=l comment.created_at %> by <%= comment.creator.email %>
  </p>
  <p>
    <%= simple_format(comment.content) %>
  </p>
  <%= link_to 'Bearbeiten', [:edit, comment] %>
  <hr />
</div>
<% end %>