<h3><%=t '.comment_by' %> <%= @comment.creator.name %></h3>

<%= render @comment %>

<%= link_to "Back to ticket", @comment.ticket, class: 'btn btn-secondary' %>


<div>
  <%= link_to "Edit this comment", edit_comment_path(@comment) if can?(:update, @comment) %> |
  <%= link_to "Destroy this comment", @comment, 'data-turbo-method': :delete %>
</div>
