<p style="color: green"><%= notice %></p>

<%= render @tag_group %>

<div>
  <%= link_to "Edit this tag group", edit_tag_group_path(@tag_group) %> |
  <%= link_to "Back to tag groups", tag_groups_path %>

  <%= button_to "Destroy this tag group", @tag_group, method: :delete %>
</div>
