<div class="row border-bottom<%= if ticket.flagged?;
                                   " ticket-flag";
                                 end %> selectable"
     data-uri="<%= ticket_url(ticket) %>"
>
  <div class="col-1">
    <%= linked_ticket_identifier ticket %>
  </div>
  <div class="col-9">
    <%= ticket.title %>
  </div>
  <div class="col-2">
    <%= status_label(ticket) %>
  </div>
</div>
