<div class="row border-bottom<%= if ticket.flagged?;
                                   " ticket-flag";
                                 end %> <%= (i || 0) % 2 == 0 ? 'even' : 'odd' %>">
  <div class="col-1">
    <%= link_to ticket.identifier, ticket %>
  </div>
  <div class="col-7">
    <%= ticket.title %>
  </div>
  <div class="col-2">
    <% for t in ticket.tags.select(&:is_area) %>
      <%= render_tag(t) %>
    <% end %>
  </div>
  <div class="col-2">
    <%= status_label(ticket) %>
  </div>
</div>
