<div id="<%= dom_id ticket %>">
  <div class="row">
    <div class="col-9">
      <div class="m-2">
        <span class="fs-6 text-muted"><%= ticket.identifier %></span>
        <h4><%= ticket.title %></h4>

        <% if ticket.content.present? %>
          <p>
            <%= markdown(ticket.content) %>
          </p>
        <% end %>

        <hr/>

        <h5>Kommentare</h5>
        <%= turbo_stream_from dom_id(ticket, :comments) %>
        <%= turbo_frame_tag dom_id(ticket, :comments) do %>
          <%= render @ticket.comments %>
          <%= turbo_frame_tag 'new_comment' do %>
            <%= link_to 'Neuer Kommentar', new_comment_path(ticket_id: @ticket) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-3">
      <div class="m-2 p-2" style="background-color: #f9f9f9; border-radius: 3px; border: 1px solid #f0f0f0;">
        <p>
          <%= status_label(ticket) %>
          <%= priority_label(ticket) %>
        </p>

        <p>
          <% for tag in ticket.tags %>
            <% if tag.is_board %>
              <span class="badge rounded-pill bg-secondary"><a href="#"><%= link_to tag.name, board_path(tag) %></a></span>
            <% else %>
              <span class="badge rounded-pill bg-secondary"><%= tag.name %></span>
            <% end %>
          <% end %>
        </p>

        <div class="btn-group btn-group-vertical btn-group-sm" style="width: 100%;">
          <% if can?(:update, @ticket) %>
            <% for vt in @ticket.valid_transitions(current_user) %>
              <%= link_to t("transition.#{@ticket.status}.#{vt}"), ticket_url(@ticket, { ticket: { status: vt } }), class: 'btn btn-sm btn-outline-primary', 'data-turbo-method' => :patch %>
            <% end %>
            <%= link_to t('edit'), edit_ticket_path(@ticket), class: 'btn btn-outline-secondary' %>
            <% if @ticket.assignee != current_user %>
              <%= link_to t('assign_to_me'), mine_ticket_path(@ticket), class: 'btn btn-outline-secondary', 'data-turbo-method' => :post %>
            <% end %>
            <% if can?(:approve, ticket) && ticket.needs_approval? && !ticket.approved? %>
              <%= link_to t('approve'), approve_ticket_path(@ticket), class: 'btn btn-outline-secondary', 'data-turbo-method' => :post %>
            <% end %>
          <% end %>
        </div>
        <p>
          <strong>Kunden-Projekt:</strong>
          <%= ticket.customer_project.name %>
        </p>

        <p>
          <strong>Creator:</strong>
          <%= ticket.creator.name %>
        </p>

        <p>
          <strong>Assignee:</strong>
          <% if ticket.assignee.present? %>
            <%= ticket.assignee.name %>
          <% else %>
            None
          <% end %>
        </p>

        <% if @ticket.approved? %>
          <p>
            <strong><%= t('approved_by') %>:</strong>
            <%= ticket.ticket_user_relationships.find_by(relationship: :approval).user.name %>
          </p>
        <% end %>

        <% if @ticket.files.attached? %>
          <p>
            <strong>Attachments:</strong>
          </p>
          <% for f in @ticket.files %>
            <%= link_to f.name, rails_blob_path(f, disposition: :attachment) %>
          <% end %>
        <% end %>

        <div>

        </div>
      </div>
    </div>
  </div>

</div>
