<h2>Inbox</h2>

<% if @tickets.count == 0 %>
  <div class="card">
    <div class="card-body">
      <p><%= t '.nothing_to_see' %></p>
    </div>
  </div>
<% end %>

<% @tickets.each do |ticket| %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-9">
          <h5 class="card-title"><%= ticket.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= linked_ticket_identifier ticket %></h6>
          <p class="card-text"><%= ticket.content %></p>
        </div>
        <div class="col-md-3">
          <% @areas.each do |area| %>
            <%= link_to emojified(area), tag_ticket_path(ticket, tag_id: area.id), 'data-turbo-method' => :post %><br/>
          <% end %>
          <% @boards.each do |board| %>
            <%= link_to emojified(board), tag_ticket_path(ticket, tag_id: board.id), 'data-turbo-method' => :post %><br/>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
