<h2>Tickets</h2>

<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th><%= Ticket.human_attribute_name(:id) %></th>
    <th><%= Ticket.human_attribute_name(:title) %></th>
    <th colspan="2"><%= Ticket.human_attribute_name(:status) %></th>
    <th><%= Ticket.human_attribute_name(:assignee) %></th>
    <th><%= Ticket.human_attribute_name(:tags) %></th>
  </tr>
  </thead>

  <tbody>
  <% @tickets.each do |ticket| %>
    <tr>
      <td>
        <%= linked_ticket_identifier ticket %>
        <%= if ticket.flagged?; "🚩"; end %>
      </td>
      <td><%= ticket.title %></td>
      <td><%= status_label(ticket) %></td>
      <td>
        <%= sla_label(ticket.sla_status) %>
      </td>
      <td>
        <% if ticket.assignee.present? %>
          <%= gravatar_icon ticket.assignee, [], 20 %>
          <%= ticket.assignee.name %>
        <% else %>
          ---
        <% end %>
      </td>
      <td>
        <% for tag in ticket.tags %>
          <%= render_tag(tag) %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @tickets, theme: 'bootstrap-5' %>
