<h2>Tickets</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= Ticket.human_attribute_name(:id) %></th>
    <th><%= Ticket.human_attribute_name(:title) %></th>
    <th><%= Ticket.human_attribute_name(:status) %></th>
    <th><%= Ticket.human_attribute_name(:priority) %></th>
    <th><%= Ticket.human_attribute_name(:assignee) %></th>
  </tr>
  </thead>

  <tbody>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= link_to ticket.identifier, ticket %></td>
      <td><%= ticket.title %></td>
      <td><%= status_label(ticket) %></td>
      <td><%= priority_label(ticket) %></td>
      <td>
        <% if ticket.assignee.present? %>
          <%= ticket.assignee.email %>
        <% else %>
          ---
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>