<div class="row">
  <div class="col-3">&nbsp;</div>
  <div class="col-6">
    <h3><%=t 'link_ticket' %> '<%= "#{@ticket.identifier} #{@ticket.title}" %>'</h3>

    <%= simple_form_for(@ticket_ticket_relationship) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.hidden_field :parent_id %>
        <%= f.association :child,
              input_html: { class: 'js-choice'},
              :label_method => lambda { |ticket| "#{ticket.identifier} #{ticket.title}" } %>
        <%= f.input :relationship, input_html: { class: 'js-choice'} %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
  <div class="col-3">&nbsp;</div>
</div>
