<div class="row">
  <div class="col-3">&nbsp;</div>
  <div class="col-6">
    <h3><%= t '.title' %></h3>

    <%= simple_form_for(@ticket) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.association :customer_project, input_html: { class: 'js-choice' } %>
        <%= f.input :title, as: :string %>
        <%= f.input :content, input_html: { rows: 10 } %>
      </div>

      <% current_project.tag_groups.each do |tag_group| %>
        <% if tag_group.min_count.nil? || tag_group.min_count == 0 %>
          <%= turbo_frame_tag(tag_group) do %>
            <div>
              <%= link_to "I want to add a tag from #{tag_group.name}", ticket_form_tag_group_path(tag_group) %>
            </div>
          <% end %>
        <% elsif tag_group.min_count == 1 %>
          <%# TODO: move this to a partial %>
          <%= turbo_frame_tag tag_group do %>
            <div class="form-group">
              <label class="radio required"><%= tag_group.name %></label>
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="display: block;">
                <% tag_group.tags.each do |tag| %>
                    <input type="radio" class="btn-check" name="tags[]" value="<%= tag.id %>" id="tag_<%= tag.id %>" />
                    <label class="btn btn-outline-primary" for="tag_<%= tag.id %>"><%= tag.name %></label>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
  <div class="col-3">&nbsp;</div>
</div>
