
<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :shortname %>
    <%= f.input :workflow, input_html: { rows: 20 } %>

    <%# TODO: Fixme %>
    <%#= f.input :approvals %>
    <%#= f.input :areas %>
    <%#= f.input :boards %>
    <%#= f.input :severities %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
