<div id="<%= dom_id tag %>">
  <h2><%= tag.name %></h2>

  <p>
    <strong>Project:</strong>
    <%= tag.project.name %>
  </p>

  <p>
    <strong><%= t('tag_group') %>:</strong>
    <%= tag.tag_group.name if tag.tag_group.present? %>
  </p>

  <p>
    <strong>Board:</strong>
    <%= tag.is_board %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= tag.is_area %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= tag.color %>
  </p>

</div>
