<h2><%= @board.name %> Board</h2>

<div class="row">
  <% for s in current_project.states %>
    <div class="col kanban-col">
      <div class="header">
        <%= s %>
      </div>
      <% for ti in @tickets.where(status: s) %>
        <div class="card my-1<%= if ti.flagged?; " ticket-flag"; end %>">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <h6 class="card-title"><%= link_to ti.identifier, ti %></h6>
                <h6 class="card-subtitle mb-2 text-muted"><%= ti.title %></h6>
              </div>
              <div>
                <% if ti.assignee.present? %>
                  <%= gravatar_icon ti.assignee %>
                <% end %>
              </div>
            </div>
            <% if ti.assignee.present? %>
              <span class="text-muted"><%= ti.assignee.name %></span>
            <% end %>
          </div>
          <% vts = ti.valid_transitions(current_user) %>
          <% if vts.count > 0 %>
            <div class="card-footer">
              <% for vt in vts %>
                <%= link_to t("transition.#{ti.status}.#{vt}"), ticket_url(ti, { ticket: { status: vt } }), 'data-turbo-method' => :patch %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
