<h2><%= @board.name %> Board</h2>

<div class="row kanban-board"
     data-boards-target="board"
     data-controller="boards"
>
  <% for s in current_project.states %>
    <div class="col kanban-col"
         data-status="<%= s %>"
         data-valid-transitions="<%= @tickets.where(status: s).first&.valid_transitions(current_user) %>"
         data-boards-target="boardColumn"
         >
      <div class="header">
        <%= s %>
      </div>
      <% for ti in @tickets.where(status: s) %>
        <div id="<%= dom_id ti %>"
             class="card my-1<%= if ti.flagged?; " ticket-flag"; end %>"
             draggable="true"
             data-action="dragstart->boards#dragstart dragend->boards#dragend"
             data-uri="<%= ticket_url(ti) %>"
        >
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <h6 class="card-title"><%= link_to ti.identifier, ti %></h6>
                <h6 class="card-subtitle mb-2 text-muted"><%= ti.title %></h6>
              </div>
              <div>
                <% if ti.assignee.present? %>
                  <%= gravatar_icon ti.assignee %>
                <% end %>
              </div>
            </div>
            <% if ti.assignee.present? %>
              <span class="text-muted"><%= ti.assignee.name %></span>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
