<!DOCTYPE html>
<html>
<head>
  <title>Plato - Easy tasks</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
      <%= link_to 'Plato', root_url, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to 'Home', root_url, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Projects', projects_url, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Tickets', tickets_url, class: 'nav-link' %>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <div class="container-fluid">
    <span class="navbar-text">
Current project:
      <% if current_project.present? %>
              <%= current_project.name %>
            <% else %>
              <%= link_to "Select current project", projects_url %>
            <% end %>
            </span>
            </div>
          </li>
        </ul>
        <% if Ticket.where(status: :new).count > 0 %>
          <div class="pr-4">
            <%= link_to inbox_tickets_url, class: 'btn btn-primary btn-sm' do %>
                Inbox
                <span class="badge bg-secondary"><%= Ticket.where(status: :new).reject(&:on_board?).count %></span>
            <% end %>
          </div>
        <% end %>
        <% if can?(:create, Ticket) %>
          <div class="d-flex">
            <%= link_to t('create_ticket'), new_ticket_url, class: 'btn btn-sm btn-outline-success' %>
          </div>
        <% end %>
      </div>
    </nav>
  </div>
</header>
<main>
  <div class="container">
    <% flash.each do |type, msg| %>
      <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissable fade show">
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
  </div>
</main>
<footer>
  <div class="container-fluid">
    Logged in as: <%= current_user.firstname %> <%= current_user.lastname %> <%= link_to t('logout'), destroy_user_session_path, 'data-turbo-method' => :delete %> |
    <%= link_to "Projects", projects_url %>
    <%= link_to "Tags", tags_url %>
    <%= link_to "Customer Projects", customer_projects_url %>
    -

    made by the developers with ❤️
  </div>
</footer>
</div>
</body>
</html>