<!DOCTYPE html>
<html>
<head>
  <title>Plato - Easy tasks</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div class="container">
  <header class="d-flex align-items-center p-2 mb-2 border-bottom">
    <span>Plato</span>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>

    -

    made by the developers with ❤️
  </footer>
</div>
</body>
</html>