<!DOCTYPE html>
<html>
<head>
  <title>Plato - Easy tasks</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="nosession">
<div class="container">
  <% flash.each do |type, msg| %>
    <div class="alert <%= bootstrap_class_for_flash(type) %> my-2">
      <%= msg %>
    </div>
  <% end %>
</div>
<div class="container">
  <main>
    <%= yield %>
  </main>
</div>
</body>
</html>
